@font-face {
  font-family: "Super Foods";
  src:
    local("Super Foods"),
    url("src/assets/fonts/Super Foods.ttf") format("truetype");
}

// Regular
@font-face {
  font-family: "Helvetica";
  src:
    local("Helvetica"),
    url("src/assets/fonts/helvetica/Helvetica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// Italic
@font-face {
  font-family: "Helvetica";
  src: url("src/assets/fonts/helvetica/Helvetica-Oblique.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}

// Bold
@font-face {
  font-family: "Helvetica";
  src: url("src/assets/fonts/helvetica/Helvetica-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

// Bold Italic
@font-face {
  font-family: "Helvetica";
  src: url("src/assets/fonts/helvetica/Helvetica-Bold Oblique.ttf")
    format("truetype");
  font-weight: bold;
  font-style: italic;
}

// Light
@font-face {
  font-family: "Helvetica";
  src: url("src/assets/fonts/helvetica/helvetica-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

// Light Italic
@font-face {
  font-family: "Helvetica";
  src: url("src/assets/fonts/helvetica/Helvetica-LightOblique.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
}

// Black
@font-face {
  font-family: "Helvetica";
  src: url("src/assets/fonts/helvetica/helvetica black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

// Black Italic
@font-face {
  font-family: "Helvetica";
  src: url("src/assets/fonts/helvetica/Helvetica Black Oblique.otf")
    format("opentype");
  font-weight: 900;
  font-style: italic;
}
