.Welcome__Title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: 100px;
  font-weight: 900;
  letter-spacing: -2px;
  margin-top: 50px;

  > span {
    &:first-of-type,
    &:nth-of-type(4),
    &:nth-of-type(7) {
      color: #4285f4;
    }
    &:nth-of-type(2),
    &:nth-of-type(6),
    &:nth-of-type(8) {
      color: #ea4335;
    }
    &:nth-of-type(3) {
      color: #fbbc04;
    }
    &:nth-of-type(5) {
      color: #34a853;
    }
  }

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 80px;
  }
  @media (max-width: $mantine-breakpoint-xs) {
    font-size: 60px;
  }
}

.Welcome__Subtitle {
  font-size: var(--mantine-h1-font-size);

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: var(--mantine-h2-font-size);
  }
  @media (max-width: $mantine-breakpoint-xs) {
    font-size: var(--mantine-h3-font-size);
  }
}
