.Layout__AppBar {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 4px;

  @include mantine.dark {
    background-color: rgba(from var(--mantine-color-dark-8) r g b / 0.8);
  }
}

.header-portal {
  > * {
    flex-grow: 1;
  }
}

.Layout__Main {
  display: flex;
  flex-direction: column;

  > :global(.mantine-Container-root) {
    width: 100%;
  }
}

.Layout__Watermark {
  --background-height: 50px;
  pointer-events: none;
  z-index: -1;
  background-image: url("/src/assets/background/bg.svg"),
    url("/src/assets/background/bg.svg"), url("/src/assets/background/bg.svg");
  background-position:
    bottom,
    bottom var(--background-height) left,
    bottom calc(var(--background-height) * 2) right;
  background-size: auto var(--background-height);
  background-repeat: repeat-x;

  height: calc(var(--background-height) * 3);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  @include mantine.dark {
    background-image: url("/src/assets/background/bg-dark.svg"),
      url("/src/assets/background/bg-dark.svg"),
      url("/src/assets/background/bg-dark.svg");
  }

  @media (max-width: mantine.$mantine-breakpoint-sm) {
    --background-height: 30px;
  }
}

.Layout__Footer {
  border-top: 1px solid var(--app-shell-border-color);
  padding: var(--mantine-spacing-md);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mantine-color-body);

  a {
    text-decoration: none;
    color: inherit;
    line-height: 1;
  }
}
