.Layout__AppBar {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 4px;

  @include mantine.dark {
    background-color: rgba(from var(--mantine-color-dark-8) r g b / 0.8);
  }
}

.header-portal {
  > * {
    flex-grow: 1;
  }
}
