.Welcome__Title {
  font-size: 100px;
  font-weight: 900;
  font-family: "Super Foods";
  letter-spacing: mantine.rem(4);
  line-height: 0.8;

  @media (max-width: mantine.$mantine-breakpoint-sm) {
    font-size: 80px;
  }
  @media (max-width: mantine.$mantine-breakpoint-xs) {
    font-size: 60px;
  }
}

.Welcome__Subtitle {
  font-size: var(--mantine-h1-font-size);

  @media (max-width: mantine.$mantine-breakpoint-sm) {
    font-size: var(--mantine-h2-font-size);
  }
  @media (max-width: mantine.$mantine-breakpoint-xs) {
    font-size: var(--mantine-h3-font-size);
  }
}
