@use "./assets/fonts";

.recharts-text {
  font-size: 1rem;
}

.recharts-pie-labels text {
  font-size: 1rem;
}

.recharts-label-list text {
  font-size: 1rem;
}

@media screen and (max-width: mantine.$mantine-breakpoint-xs) {
  .recharts-text {
    font-size: 0.5rem;
  }
}

// This is a workaround to prevent iOS from zooming in on input fields
// https://stackoverflow.com/questions/2989263/disable-auto-zoom-in-input-text-tag-safari-on-iphone
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}
